<footer>
  <div class="social-media">
    <img src="../../../assets/icons/twitter.png" alt="">
    <img src="../../../assets/icons/facebook1.png" alt="">
    <img src="../../../assets/icons/instagram.png" alt="">
    <img src="../../../assets/icons/youtube.png" alt="">
  </div>
  <div class="links">
    <a href="#">Products</a>
    <a href="#">History</a>
    <a href="#">More</a>
  </div>
  <div class="newsletter">
    <label for="">Newsletter</label>
    <input type="email" name="newsletter" placeholder="youremail@net.com">
    <button>
      <span>Send</span>
      <img src="../../../assets/icons/send.svg" alt="">
    </button>
  </div>
</footer>
