@import '../../../assets/scss/colors.scss';

header {
    width: 100vw;
    height: 100px;
    background-color: $gray;
    .wrapper {
        .humburguer-icon {
            display: none;
        }

        .logo {
            display: inline-block;
            z-index: 0;
            h2 {
                line-height: 34px;
                font-size: 34px;
                margin-top: calc(50px - 20px);
                b:nth-child(2) {
                    color: $orange;
                }
            }
        }

        .menu {
            width: calc(100% - 300px);
            margin: 0 auto;
            display: inline-block;
            text-align: center;
            .links {
                width: 250px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    h3 {
                        display: inline-block;
                        color: $orange;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    :host {
        header {
            height: 60px;
            .wrapper {
                .humburguer-icon {
                    display: inline-block !important;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: calc(30px - 15px);
                    z-index: 1;
                    .humberguer-line {
                        width: 100%;
                        height: 3px;
                        background-color: $orange;
                        margin: 4px 0;
                        border-radius: 7px;
                    }

                    &.menuOpen {
                        .humberguer-line {
                            position: absolute;
                            top: 6px;
                        }

                        .humberguer-line:nth-child(3) {
                            display: none;
                        }

                        .humberguer-line:nth-child(1) {
                            transition: 0.7s;
                            transform: rotate(45deg);
                        }

                        .humberguer-line:nth-child(2) {
                            transition: 0.7s;
                            transform: rotate(134deg);
                        }
                    }
                }

                .logo {
                    display: block;
                    position: absolute;
                    width: 100vw;
                    right: 0;
                    top: calc(30px - 17px);
                    h2 {
                        width: 155px;
                        margin: 0 auto;
                    }
                }

                .menu {
                    display: none;
                }
            }
        }
    }
}
