<div class="wrapper">
    <section>
        <article class="spootlight">
            <figure>
                <img src="../../../assets/img/destaque2.jpeg" alt="destaque" />
            </figure>
        </article>

        <article class="life-fitness">
            <figure>
                <img
                    src="../../../assets/img/life-fitness.app.jpeg"
                    alt="fitness woman"
                />
            </figure>

            <div class="life-fitness-text">
                <h2>Life Fitness</h2>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    At, dolor totam non assumenda ut voluptatibus fuga provident
                    porro? Voluptatum, repellendus reprehenderit similique
                    blanditiis cumque quasi?
                </p>
            </div>
        </article>
    </section>
</div>
