@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/helpers.scss';

.spootlight {
    background: $black;
    article {
        background: $gray;
        figure {
            img {
                max-width: 100%;
                width: 100vw;
            }
        }
    }
}

section.life-fitness {
    background: $gray;
    min-height: 510px;
    article {
        .life-fitness-text {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 600px);
            text-align: center;
            margin-top: 140px;
            padding-left: 10px;
            h2 {
                color: $orange;
            }

            p {
                color: $gray-xxlight;
                max-width: 500px;
                margin: 20px auto 0 auto;
            }
        }

        figure {
            padding: 40px 20px;
            width: 600px;
            display: inline-block;
            text-align: right;
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }
}

section.quality-life {
    background: $gray-xdark;
    background-image: linear-gradient(180deg, $gray-xdark 50%, $gray 50%);
    height: 800px;

    .section-title {
        display: block;
        text-align: center;
        padding: 10px 0;
        h2 {
            color: $orange;
        }
    }

    .flex-space-around {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        .card {
            width: 200px;
            height: 150px;
            background: $orange;
            border-radius: 7px;
            padding: 10px;
            display: inline-block;
            div {
                display: block;
                margin-top: 10px;
                h3 {
                    color: black;
                }
            }
        }
    }

    article {
        .big-card {
            width: 200px;
            height: 400px;
            background: $orange;
            border-radius: 7px;
            padding: 10px;
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 1000px) {
    :host {
        section.life-fitness {
            article {
                div.life-fitness-text {
                    display: block;
                    padding: 130px 0;
                    width: 100%;
                    margin: 0;
                }

                figure {
                    padding: 0;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
